/* Start Profile */
.profile{
  padding-top: 100px;
}
.profile img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: 50px;
}

.profile .name{
  font-size: 20px;
  font-weight: bold;
  padding: 10px 50px;
  margin-bottom: 50px;
  position: relative;
}

.profile i.fa-camera{
  position: absolute;
  font-size: 15px;
  top: -30px;
  left: 121px;
  color: #000000;
  border: 5px solid #e5e5e5;
  border-radius: 50%;
}

.bloc-tabs {
  display: flex;
  border: 1px  rgba(128, 128, 128, 0.075) solid;
  padding: 5px;
  box-shadow: 0 0 10px #e8e7e7;
  border-radius: 10px;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
  transition: 0.3s;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  font-weight: 600;
  margin-left: 5px;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 3px;
  background: rgb(88, 147, 241);
  border-radius: 5px;
}
.active-tabs  {
  background: white;
  border-bottom: 1px solid transparent;
}


button {
  border: none;
}

.content-tabs {
  flex-grow : 1;
}

.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
  margin-top: 30px;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
  margin-bottom: 30px;
}
.content p {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}
.active-content {
  display: block;
}

.social-media {
  display: flex;
  margin-top: 20px;
}
.social-media i.fa-facebook{
  color: rgb(27, 27, 177) ;
  margin: 0 20px;
  font-size: 30px;
}
.social-media i.fa-youtube{
  color: red ;
  margin: 0 20px;
  font-size: 30px;
}
.social-media i.fa-twitter{
  color: rgb(0, 149, 255) ;
  margin: 0 20px;
  font-size: 30px;
}

.education-box{
  padding-top: 40px;
}
.education-box h3{
  
}
.education-box p{
  opacity: 0.7;
  padding-left: 20px;
}

.skill-item{
  color: black;
  font-size: 20px;
}
.skill-item i{
  font-size: 10px;
  transform: translateY(-31%);
  padding-right: 10px;
}

/* End Profile */